/*
Color Palette:
- Background: #E5E1EE
- Text: #273043
*/

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Ubuntu:wght@300&display=swap');

body {
    background-color: #273043;
}

@media (min-width: 1100px) {
        .title_bar {
        font-family: 'Ubuntu', Arial;
        font-size: 12px;
        color: #FFFFFF;
        background-color: #273043;
        margin: 0px;
        padding: 5px;
    }

    h1 {
        font-family: 'Ubuntu', Arial;
        font-size: 24px;
        height: 400px;
        background-color: #E5E1EE;
    }
}

@media (max-width: 1099px) {
    .title_bar {
        font-family: 'Ubuntu', Arial;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #273043;
        margin: 0px;
        padding: 5px;
    }

    h1 {
        font-family: 'Ubuntu', Arial;
        font-size: 36px;
        height: 400px;
        background-color: #E5E1EE;
    }
}