/*
Color Palette:
- Background: #E5E1EE
- Text: #273043
*/

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&family=Ubuntu:wght@300&display=swap');

body {
    background-color: #E5E1EE;
}

.title_bar {
    border: solid, black, 1px;
    font-family: 'Ubuntu', Arial;
    font-size: 8px;
}

h1 {
    font-family: 'Ubuntu', Arial;
    font-size: 24px;
}